################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Servo/Debug
/Servo/packages.config
/Servo/Servo.vcxproj.filters
/Servo/Servo.vcxproj.user
/Talisman/data/users.sqlite3
/Talisman/Debug/Talisman.tlog
/Talisman/Debug
/Talisman/sqlite3.dll
/Talisman/Talisman.vcxproj.filters
/Talisman/Talisman.vcxproj.user
/Talisman/msgs
/Talisman/data/call_log.sqlite3
/Talisman/logs
/Talisman/data/email.sqlite3
/Toolbelt/Debug
/Toolbelt/Toolbelt.vcxproj.filters
/Toolbelt/Toolbelt.vcxproj.user
/Talisman/data/fb_uploads.sqlite3
/Talisman/data/fb_misc.sqlite3
/Talisman/scripts/data
/Release
/Servo/Release
/Talisman/Release
/Talisman/lua5.4.dll
/Talisman/win32_deps/Output
/Toolbelt/Release
